<div class="features">
  <div class="container">
    <app-loading *ngIf="loading"></app-loading>
    <h2 *ngIf="!loading">{{'gleitzeitampel.currentFlexibleTime'|translate}}<span class="gleitzeit">{{gleitzeitstand}}h</span></h2>
  </div>
  <div class="ampelcontainer">
    <!-- Green -->
    <ng-container *ngIf="danger === 0 && !loading">
      <img
        src="../../../assets/images/ampel_gruen.png"
        alt="green"
        class="ampel"
      >
      <p>{{'gleitzeitampel.green'|translate}}</p>
    </ng-container>

    <!-- Yellow -->
    <ng-container *ngIf="danger === 1 && !loading">
      <img
        src="../../../assets/images/ampel_gelb.png"
        alt="yellow"
        class="ampel"
      >
      <p>{{'gleitzeitampel.yellow'|translate}}</p>
    </ng-container>

    <!-- Red -->
    <ng-container *ngIf="danger === 2 && !loading">
      <img
        src="../../../assets/images/ampel_rot.png"
        alt="red"
        class="ampel"
      >
      <p>{{'gleitzeitampel.red'|translate}}</p>
    </ng-container>

  </div>

</div>
