<div class="sidenav">
  <a href="#changepw">{{'settings.changepw'|translate}}</a>
  <a href="#createUser">{{'settings.createuser'|translate}}</a>
  <a href="#registerdevice">{{'settings.registerdevice'|translate}}</a>
  <a href="#grenzwerte">{{'settings.setvalues'|translate}}</a>
</div>

<section id="changepw" class="wrapper style1 fade-up">
  <div class="main">
    <div class="inner">
      <h2>{{'settings.changepw'|translate}}</h2>
      <div class="split style1">
          <app-change-pw></app-change-pw>
      </div>
    </div>
  </div>
</section>
<div style="height: 75px"></div>

<section id="createUser" class="wrapper style1 fade-up">
  <div class="main">
    <div class="inner">
      <h2>{{'settings.createuser'|translate}}</h2>
      <div class="split style1">
        <app-newuser></app-newuser>
      </div>
    </div>
  </div>
</section>
<div style="height: 75px"></div>

<section id="registerdevice" class="wrapper style1 fade-up">
  <div class="main">
    <div class="inner">
      <h2>{{'settings.registerdevice'|translate}}</h2>
      <div class="split style1">
        <app-registerdevice></app-registerdevice>
      </div>
    </div>
  </div>
</section>
<div style="height: 75px"></div>

<section id="grenzwerte" class="wrapper style1 fade-up">
  <div class="main">
    <div class="inner">
      <h2>{{'settings.setvalues'|translate}}</h2>
      <div class="split style1">
        <app-grenzwert-settings></app-grenzwert-settings>
      </div>
    </div>
  </div>
</section>

