<div class="sidenav">
  <a href="#changepw">Passwort Ändern</a>
  <a href="#grenzwerte">Grenzwerte einstellen</a>
  <a href="">Nutzer anlegen</a>
</div>
  <section id="changepw" class="wrapper style1 fade-up">
    <div class="main">
      <div class="inner">
        <h2>Passwort Ändern</h2>
        <div class="split style1">
            <app-change-pw></app-change-pw>
        </div>
      </div>
    </div>
  </section>
<div style="height: 200px"></div>

  <section id="grenzwerte" class="wrapper style1 fade-up">
    <div class="main">
      <div class="inner">
        <h2>Grenzwerte einstellen</h2>
        <div class="split style1">
          <app-grenzwert-settings></app-grenzwert-settings>
        </div>
      </div>
    </div>
  </section>

