input[type=time], input[type=date]{
  color:inherit;
  width: 100%;
  height: 2.75em;
  appearance: none;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.25em;
  border: solid 1px rgba(255, 255, 255, 0.15);
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
}

label{
  margin-top: 15px;
}
